// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;

$red: #EE5BD6;
$blue: #46CBE0;
$yellow: #FDF731;
$orange: #F4B347;
$green: #32B754;
$gray: #000A0D;
$light-gray: #C7C3C3;
